CEFSA - Centro Educacional da Fundação Salvador Arena |
FESA - Faculdade Engenheiro Salvador Arena | 
São Bernardo do Campo, 08 de março de 2025 | 
Heitor Santos Ferreira - RA: 081230042 - Engenharia de Computação - 6° Semestre - EC6 | 
Eletiva II - Ambientes Inteligentes | 
Professor Elias Kento Tomiyama

# TABELA DE 'MOVIES'

### Importando bibliotecas

In [1]:
#Importando bibliotecas
import pandas as pd

### Importando tabela

In [2]:
df_movies = pd.read_csv(r'C:\Users\Heitor\OneDrive - Fundação Salvador Arena\6 - Sexto Semestre\Ambientes Inteligentes\grouplens-datasets-analysis\data\movies.csv')

In [3]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Realizando correções

In [4]:
df_movies.rename(columns={'movieId': 'ID filme', 'title': 'Titulo', 'genres': 'Generos'}, inplace=True)

In [5]:
df_movies.head()

,ID filme,Titulo,Generos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
df_movies['Generos'] = df_movies['Generos'].str.replace('|', ' | ')

In [7]:
df_movies.head()

,ID filme,Titulo,Generos
0,1,Toy Story (1995),Adventure | Animation | Children | Comedy | Fa...
1,2,Jumanji (1995),Adventure | Children | Fantasy
2,3,Grumpier Old Men (1995),Comedy | Romance
3,4,Waiting to Exhale (1995),Comedy | Drama | Romance
4,5,Father of the Bride Part II (1995),Comedy

### Exibindo informações gerais sobre a tabela e realizando sua apresentação final

In [8]:
print(f'O dataset possui {df_movies.shape[0]} exemplos/amostras/linhas e {df_movies.shape[1]} atributos/variáveis/colunas.')

O dataset possui 9742 exemplos/amostras/linhas e 3 atributos/variáveis/colunas.

In [9]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID filme  9742 non-null   int64
 1   Titulo    9742 non-null   object
 2   Generos   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [10]:
df_movies.describe()

            ID filme
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000